@media (min-width: 0) {
  /* line 9, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/breakpoint/sass/framework/_core.scss */
  body::before {
    content: '{ "current" : "small", "all" : [small], "position" : 0 }';
    height: 0;
    display: block;
    overflow: hidden;
  }
}
/*! Grid based on https://github.com/necolas/griddle by Nicolas Gallagher (@necolas) */
/* line 4, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/breakpoint/sass/framework/_grid.scss */
body {
  font-size: 1em;
}

/* line 8, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/breakpoint/sass/framework/_grid.scss */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

/* line 16, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/breakpoint/sass/framework/_grid.scss */
img {
  max-width: 100%;
}

/* line 17, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/breakpoint/sass/framework/_grid.scss */
.no-js .responsive-image {
  display: none;
}

/* line 21, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/breakpoint/sass/framework/_grid.scss */
.grid {
  display: block;
  padding: 0;
  margin: 0 -0.625em;
  text-align: left;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

/* line 36, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/breakpoint/sass/framework/_grid.scss */
.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

/* line 43, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/breakpoint/sass/framework/_grid.scss */
.grid > .grid {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
}

/* line 52, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/breakpoint/sass/framework/_grid.scss */
.grid__cell, .grid-cell {
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0.625em;
  /* controls vertical positioning of units */
  vertical-align: top;
  /* keeps unit content correctly aligned */
  text-align: left;
  /* reset text defaults */
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

/* line 81, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/breakpoint/sass/framework/_grid.scss */
.grid--center {
  text-align: center;
}

/* line 86, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/breakpoint/sass/framework/_grid.scss */
.grid__cell--center {
  display: block;
  margin: 0 auto;
}

/* line 4, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/iframe.css.scss */
body.lentil-images_iframe {
  background: none;
  line-height: 0;
  margin: 0;
}

/* line 11, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/iframe.css.scss */
.lentil-images_iframe img {
  margin: 0;
  max-width: none;
  width: 100%;
  height: 100%;
}
/* line 18, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/iframe.css.scss */
.lentil-images_iframe .square-media {
  object-fit: cover;
  overflow: hidden;
}
/* line 23, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/iframe.css.scss */
.lentil-images_iframe #iframe-wrapper {
  width: 100%;
  overflow: hidden;
}
/* line 28, ../../../../.rvm/gems/ruby-2.2.2/gems/lentil-0.9.1/app/assets/stylesheets/lentil/iframe.css.scss */
.lentil-images_iframe .iframe-tile {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
